.title_50 {
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    background-color:#000;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.border_left {
    border-left: solid 1px #fff;
}

.border_right {
    border-right:solid 1px #fff ;
}