.p_title {
    text-align: right;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 5px;
}

.p_lead{
    text-align: left;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.p_text{
    text-align: left;
}
